
/*Viewport = the browser window size. If the viewport is 50cm wide, 1vw = 0.5cm.*/

body {
  height: 100vh;
  width:100vw;
  background: url('../img/background.png');
  background-size: cover;
/*  background-repeat: repeat-y;*/
/*  margin: 0;*/
}

/*The display property is also used for new fangled layout methods like Flexbox*/
/*flex-wrap - to wrap flex items into multiple lines*/
/*flex-start - The cross-start margin edges of the flex items are flushed with the cross-start edge of the line.*/
/*distribute space around flex container*/
/*margin - used to create space around elements, outside of any defined borders.*/

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: rgba(4,10,118,1);
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: space-around;
}

.main div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.main h1, p {
  width: 100%;
  text-align: center;
  margin: 0;
}

.instructions {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  height: 60%;
  background: rgba(0,0,0,0.5);
}

/*subtracting header*/
.instructions div {
  display: flex;
  background: rgba(255,255,255,0.6);
  height: 98%;
  width: calc((90%-50px)/3);
  margin: 5px;
  flex-wrap: wrap;
  align-content: space-around;
}

.cards div {
  height: 30%;
  width: 20%;
}

/*full size of card*/
.rules img {
  height: 50%;
  width: auto;
}

.how-to-play ol {
  height: 60%;
}

.play button {
  width: 10%;
  height: 40%;
  border-radius: 20px;

}

.logo {
  display: inline-flex;
  width: 300px;
  height: auto;
}

.game {
  display: none;
}

/*---------Player's Cards Style---------*/
.player0 {
  position: absolute;
  bottom: 110px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 0;
}

.player0Cards {
  padding: 0;
  position: relative;
  display: flex;
  bottom: 0;
  height: 0;
  justify-content: flex-end;
}

.player0Cards div {
  height: 240px;
  width: 180px;
  position: absolute;
  bottom: 0;
  border-radius: 20px 20px 0 0;
  text-align: left;
}

.player1 {
  display:inline-flex;
  text-align: center;
  width:60%;
  justify-content: center;
  align-items: flex-start;
}

.player1Cards {
  background: url('../img/card-back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 75px;
  border-radius: 5px;

}

.player1 div {
  display: inline-block;
}

/*-----Center part style----*/

.container {
  display:flex;
  justify-content: space-around;
  align-content: space-between;
  height: 500px;
  align-items: center;

}

.flexFirst {
  display:flex;
  align-items: center;
  width: 40%;

}

.drawingPile {
  background: url('../img/card-back.jpg');
  background-size: contain;
  height: 240px;
  width: 180px;
  border: 1px grey solid;
  border-radius: 20px;
  position: absolute;
}

.discardPile {
  height: 240px;
  width: 180px;
  border-radius: 20px;
  background: url('../img/cards-here.jpg');
  background-size: cover;
}

.dotted-border {
  border: 2px dashed white;
}

button {
  border-radius: 20px 20px 0 0;
  border: 1px solid black;
}

.explosive-meter {
  top: 75%;
  left: 11%;
  height: 200px;
  width: 200px;
  background: url('../img/bomb.png');
  background-size: cover;
  text-align: center;
  line-height: 200px;
  color: blue;
}

.explosive-meter h1 {
  height: 2px;
}

.notice {
  display: flex;
  align-content:flex-start;
  justify-content: center;
  flex-wrap: wrap;
/*  background: rgba(160,120,90,0.8);*/
  text-align: center;
  height: 240px;
  width: 180px;
/*  border: 2px dashed white;*/
/*  border-radius: 20px;*/
}

.notice h1 {
  margin: 0;
  color: white;
}

.notice h3 {
  color: white;
}

.notice img {
  object-fit: fill;
  width:20px;
  height: 30px;
}

.notice div {
  height: 50px;
  width: 50px;
  display: inline-flex;
  align-self: flex-start;
}

.small-card {
  height: 240px;
  width: 180px
/*  border-radius: 5px;*/
}

/*-------Explosive style------*/
.explosive {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: rgba(0,0,0,0.85);
  border: 4px solid rgba(132,189,0,0.9);
  border-radius: 20px;
  text-align: center;
  display: none;
}

.explosive h1 {
  color: white;
}

.cardBox {
  display: inline-flex;
  width: 150px;
  height: 200px;
  border-radius: 20px;
  margin: 20px;
  justify-content: center;
}

.player1Explosive {
  display:none;
  position: absolute;
  top: 0;
  left: 45%;
  width: 80px;
  height: 100px;
  background: url('../img/explosion.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  margin: 20px;
  transform: rotate(20deg);
}

#time {
  color: white;
  font-size: 72px;
  align-items: center;
}


/*----GameOver----*/
.gameOver{
  position: absolute;
  display: none;
  top: 0;
  left: 10%;
  width: 80%;
  height: 90%;
  background: rgba(128,0,0,0.9);
  border: 4px solid rgba(255,223,0,0.7);
  text-align: center;
  font-size: 60px;
}

.gameOver h1 {
  margin: 0 auto;
  color: white;
}

.gameOver button {
  margin: 20px auto;
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  font-size: 20px;
  opacity: 0.8;
}

/*------Avatar-------*/


.avatar {
  height: 80px;
  width: 80px;
  border: 5px blue solid;
  border-radius: 25px;
  margin: 20px;
}

.avatar1 {
background: url('../img/a1-bb-9e.png');
background-size: cover;
margin-top: 0;
}

.avatar0 {
background: url('../img/a0-bb-8.png');
background-size: cover;
margin-bottom: 0;
}


/*---------Cards id Style---------*/

#force-run {
  background: url('../img/force-run.jpg');
  background-size: cover;
}

#force-push {
  background: url('../img/force-push.jpg');
  background-size: cover;
}

#see-the-future {
  background: url('../img/see-the-future.jpg');
  background-size: cover;
}

#aggro {
  background: url('../img/aggro.jpg');
  background-size: cover;
}

#defuse {
  background: url('../img/defuse.jpg');
  background-size: cover;
}

#attack {
  background: url('../img/attack.jpg');
  background-size: cover;
}

#death-star {
  background: url('../img/explosion.jpg');
  background-size: cover;
}

#mind-trick {
  background: url('../img/mind-trick.jpg');
  background-size: cover;
}

#placeYourDefuse {
  border: 2px white dashed;
  background: url('../img/defuse-here.jpg');
  background-size: cover;
  opacity: 0.8;
}

#avatar0 {
  background: url('../img/a0-bb-8.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25%;
  height: 50%;
}

#avatar1 {
  background: url('../img/a1-bb-9e.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 25%;
  height: 50%;
}

/*-----Your Turn------*/
.yourTurn {
  position: absolute;
  top: 25%;
  left: 35%;
  width: 40%;
  height: 40%;
  background: url('../img/your-turn.png');
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  display: none;
}

/*-----Select------*/
.select {
  position: absolute;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-wrap: wrap;
  top: 25%;
  left: 30%;
  width: 40%;
  height: 40%;
  background: rgba(255,255,255,0.8);
  text-align: center;
  display: none
}

.select button {
  width: 60%;
  height: calc(50%/5);
  border-radius: 20px;
}

.select button:hover {
  background: rgba(255,167,0,1);
  border-color: rgba(150,0,24,1);
  color: white;

}

/*-----seeTheFutureBoard-----*/
.seeTheFutureBoard {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  background: rgba(245,245,220	,0.85);
  border: 4px solid rgba(132,189,0,0.9);
  border-radius: 20px;
  text-align: center;
  display: none;
}

.seeTheFutureBoard h1 {
  color: white;
    text-shadow: 0 0 1px #000;
}

.seeTheFutureBoard div {
  border: 2px black dashed;
}

.relative {
  position: relative;
  left: 200px;
}

